.top-menu-link {
  color:  #16a085;
  font-size: 18px;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
  background-color: darkgray;
}
.utext{
  text-transform: uppercase;
}
.menu-top{
   text-align: center;
   padding-top: 32px;
   padding-bottom: 32px;
   background-color: darkgray;
}
.top-menu-link:hover {
   color: red;
}
.btn{
   background-color: green;
   font-family: Roboto, sans-serif;
   color:  #ffffff;
   font-size: 18px;
   font-weight: 900;
   text-decoration: none;
   text-transform: uppercase;
   display: inline-block;
   margin-right: 20px;
   margin-left: 20px;
   text-align: center;
}
{
   font-family: Roboto;
   color:  #373737;
   font-size: 16px;
   font-weight: 900;
   line-height: 26px;
   text-align: center;
}

.btn-link {
   padding-top: 20px;
   padding-bottom: 20px;
   text-align: center;
   background-color: darkgray;
}

.content {
   background-color: darkgray;
}
.mme{
  text-align: center;
  background-color: darkgray;
}
